@if (teamByCategory && teamByCategory.length) {
  @for (team of teamByCategory; track team.id) {
    <div class="team-by-category-card"
    >
      <div class="team-by-category-card-header">
        <img class="team-by-category-card-header-avatar" src="assets/svg/teams/avatar.svg" [alt]="team.firstName + ' ' + team.lastName.slice(0, 1) + '.'  ">
        <p class="team-by-category-card-header-title">{{ team.firstName + ' ' + team.lastName.slice(0, 1) + '.'   }}</p>
      </div>
      <div class="team-by-category-card-body">
        <p><span>Experience year:</span>
          {{ team.experienceYears }}</p>
        <p><mat-icon aria-hidden="false" [fontIcon]="'assignment'"></mat-icon>
          : {{ team.tasks.length }}</p>
      </div>
    </div>
  }
}

