@let teamsCategory = teamsCategory$ | async;
@let selectedTypeTeam = selectedTypeTeam$ | async;
@let teamsByCategoryTeamFilters = teamsByCategoryTeamFilters$ | async;
@let filteredTeams = filteredTeams$ | async;

<section class="teams container">
  <h3 class="title">Teams</h3>
  <div class="teams-container">
    <div class="teams-container-category">
      <app-teams-category [teamsCategory]="teamsCategory!" [selectedTypeTeam]="selectedTypeTeam"
                          (selectedTypeChange)="chooseTeam($event)"/>
    </div>


    @if (selectedTypeTeam) {
      <div class="teams-container-teams">
        <app-teams-by-category-actions [teamsByCategoryTeamFilters]="teamsByCategoryTeamFilters"
                                       (changeFilters)="updatedFilters($event)"/>
        @if (filteredTeams && filteredTeams.length) {
          <app-teams-by-category-card [teamByCategory]="filteredTeams"/>
        }
      </div>
    }


  </div>
</section>
