:host {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;


  .teams-category{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.6rem;
    justify-content: center;
    width: 100%;

    .team-category-card {
      background: #fff;
      padding: 1.6rem;
      border-radius: 0.8rem;
      max-width: 180px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 0.2rem solid transparent;
        border-radius: 0.8rem;
        background: linear-gradient(45deg, rgba(79, 172, 254, 0.3), rgba(0, 242, 254, 0.3)) border-box;
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &.active::after,
      &:hover::after {
        opacity: 1;
      }

      &-title {
        font-size: 1.8rem;
        font-weight: 500;
      }

      &-footer {
        display: flex;
        align-items: center;
        gap: 2rem;

        p {
          display: flex;
          align-items: center;
          font-size: 1.6rem;
        }
      }
    }
  }

  .selected-arrow{
    margin: 0 auto;

    mat-icon {
      width: 3.2rem;
      height: 3.2rem;
      font-size: 3.2rem;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

}
