<div class="teams-category">
  @if (teamsCategory && teamsCategory.length) {
    @for (team of teamsCategory; track team.type) {
      <div class="team-category-card" [ngClass]="{active: team.type === selectedTypeTeam}"
           (click)="chooseTeam(team.type)">
        <p class="team-category-card-title">{{ team.name }}</p>
        <div class="team-category-card-footer">
          <p>
            <mat-icon aria-hidden="false" [fontIcon]="'groups'"></mat-icon>
            : {{ team.teamsCount }}
          </p>
          <p>
            <mat-icon aria-hidden="false" [fontIcon]="'assignment'"></mat-icon>
            : {{ team.tasksCount }}
          </p>
        </div>
      </div>
    }
  } @else {
    @for (team of [0, 1, 2]; track team) {
      <ng-template [skeletonIf]="true" skeletonIfVariant="rect" skeletonIfWidth="360px" skeletonIfHeight="180px">
        <div class="team-category-card"></div>
      </ng-template>
    }
  }
</div>


@if(selectedTypeTeam){
  <div class="selected-arrow">
    <mat-icon [fontIcon]="'arrow_drop_down'" aria-hidden="false"></mat-icon>
  </div>
}

