@let reactionMs = reactionMs$ | async;
@let score = score$ | async;
@let isRunning = isRunning$ | async;

<div class="game-toolbar">
  <div class="game-toolbar-controls">
    <label for="reaction">Change level:</label>
    <input
      id="reaction"
      type="number"
      [min]="100"
      matInput
      [disabled]="isRunning!"
      [ngModel]="reactionMs"
      (ngModelChange)="onReactionsChange($event)"/>

    <button mat-button [disabled]="isRunning" class="primary" (click)="startGame()">Start</button>
  </div>

  @if (score) {
    <div class="game-toolbar-score">
      <span class="badge player">Player: {{ score.player }}</span>
      <span class="badge computer">Computer: {{ score.computer }}</span>
    </div>
  }

</div>
