<div class="game-toolbar">
  <div class="game-toolbar-controls" [formGroup]="form">
    <label>Change level:</label>
    <input
      type="number"
      formControlName="reactionMs"
      />

    <button mat-button [disabled]="isRunning" class="primary" (click)="startGame()">Start</button>
  </div>

  @if (score) {
    <div class="game-toolbar-score">
      <span class="badge player">Player: {{ score.player }}</span>
      <span class="badge computer">Computer: {{ score.computer }}</span>
    </div>
  }

</div>
