@use './styles/themes' as *;
@use '@angular/material' as mat;

*{
  margin: 0;
  padding: 0;
  transition:  all 0.5s ease;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}

html,
body{
  font-size: 10px;
  background-color: var(--bg-color);
}

.container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 3rem;

  .title{
    color: #000000;
    font-size: 3rem;
    font-weight: 600;
  }
}


